@font-face {
    font-family: 'Avenir';
    src: url('../../assets/Fonts/Linotype-AvenirNextLTPro.ttf') ('truetype')
}

@font-face {
    font-family: 'Avenir Bold';
    src: url('../../assets/Fonts/Linotype-AvenirNextLTProBold.ttf') ('truetype');
}

@font-face {
    font-family: 'Avenir Demi';
    src: url('../../assets/Fonts/Linotype-AvenirNextLTProDemi.ttf') ('truetype');
}